@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div>
        <h1>Calx</h1>
        <p class="lead">Application to buy and sell new and used car</p>
        <p style="display:inline-block"><a href="/buy-cars" class="btn btn-primary btn-lg">Buy Car </a></p>
        <p style="display:inline-block"><a href="/add-car" class="btn btn-primary btn-lg">Sell Car </a></p>
    </div>
    <img src="https://prod.cosy.bmw.cloud/bmvis/cosySec?COSY-EU-100-2545J3qAHyFnz5cRoHSWRzMESVDbIHyJR5BoJirjGpuaprQbzAQd82q0zJXnTqoQdRH7RzcYi9k%25q5Mb3Kq0zKBGjqoQedorDNcYiR44l382b33NcYitH%25o5Mb3NZZcYiwJ6GoExmoGl3ixt93l382jTG%25o6drjGo9R3URdQcRoj9y6cYiw956cRocJq0zqaRG5l3ilUb%25acRScHJ%25HMbnMdQW3yJGy53YarQ%25r9RKDW8zWubtJqogqaJh5l3ilUjdocRScHzoBMbnMdg30yJGy5isDrQ%25r9SBRW8zWunC%25qogqaGSvl3ilU%253acRScHzN7MbnMdgCEyJGy5mSBrQ%25r9sRRW8zWuKbGqogqaDJEl3ilUCGwcRScHbeiMbnMdJoHyJGy5Q35rQ%25r98RiW8zWuon%25qogqa3s7l3ilURO%25cRScHHdmMbnMdj9oyJGy57s3rQ%25r90uCW8zWuBiJqogqaY7el3ilUEtUcRScHeomMbnMdmjUyJRTa4QSN9q0ziH3bqoQkyFnJ5muarQbpJg1sW7%25BSBrQbAcYirQGd9uyJR9lBguC" />
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@